body {
  width: 1200px;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-element {
  display: flex;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;


}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.item:hover .dropdown-content {
  display: block;
}

/*  */
.dropdown-content-elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*  */
.item:hover .dropdown-content-elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* nested item */
.nested-item1-content {
  display: none;
}

/* .item1-button{
    position: relative;
  } */
.nested-item1 {
  position: relative;
  width: 295px;
  display: block;
  padding: 5px;
  /* margin: 5px 5px; */
  /* border: 1px solid red; */
}

.nested-item1:hover {
  background-color: rgb(166, 165, 165);
}

.nested-item1-content {
  position: absolute;
  background-color: rgb(212, 209, 209);
  border-radius: 5px;
  top: 0px;
  left: 100px;
  z-index: 10;
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

.nested-item1:hover .nested-item1-content {
  display: block;
}

.single-item:hover {
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
}